<%- include("partials/header.ejs") %>

  <div class="main">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary height" style="width: 280px;height: 100vh;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">Sidebar</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/" class="nav-link active" aria-current="page">Home</a>
        </li>
        <li>
          <a href="/posts" class="nav-link">Posts</a>
        </li>
        <li>
          <a href="/about" class="nav-link">About</a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>Bks</strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>

    <div class="postcreation">
      <h1>Create a Post</h1>

      <form action="/posts" method="POST" enctype="multipart/form-data">
        <!-- File input for image -->
        <input type="file" name="image" accept="image/*" required>

        <!-- Text input for username -->
        <input type="text" name="username" placeholder="Enter your name" required>

        <!-- Text input for post description -->
        <input type="text" name="description" placeholder="Write a Description" required>

        <!-- Submit button -->
        <button type="submit">Submit</button>
      </form>

    </div>
  </div>

  <%- include("partials/footer.ejs") %>